body{
    background-color: lightgray;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label{
    width: 85%;
    overflow:scroll;
}

label::-webkit-scrollbar {
    display: none;
}

#to-do-card{
    transition: all 0.4 ease-in-out;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px slategray;
    height: max-content;
    padding: 10px;
    background-color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
}

#task-count{
    font-weight: 800;
}

#input-section{
    width: 100%;
    border-bottom: 2px solid lightgray;
}

#input-bar{
    border: 1px solid black;
    font-size: 30px;
    border-radius: 10px ;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: lightgray;
}

#itemInput{
    
    border-radius: 6px;
    border:0px;
    box-shadow: 0px 0px 10px 3px slategray;
    outline: none;
    font-size: 23px;
    background-color: whitesmoke;
    padding: 2px 10px;
    height: 30px;
    width: 90%; 
    margin: 0px 5px;
}

#input-section-details{
    font-size: 12px;
    color: lightslategray;
    padding: 5px 10px;
    display: flex;
}

#comand{
    margin-left: 5px;
}

#clear{
    margin-left: auto;
}

#item-list{
    transition: all 0.5s ease-in-out;
    perspective: 1000px;
    min-height: 20px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

#item-list-division{
    transition: all 0.5s ease-in-out ;
    overflow: scroll;
    max-height: 60vh;
    width: 100%;
    border-bottom: 2px solid lightgray;
}

.list-item{
    transform: rotateY(-90deg);
    opacity: 1;
    transition : all 0.4s cubic-bezier(.36,-0.64,.34,1.76);
    background-color: whitesmoke;
    margin: 2px 0px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
}

.delete{
    margin-left: auto;
    display: none;
}

.note{
    margin-left: 10px;
    width: 100%;
}

.input-check:checked ~ .delete {
    display: block;
}

.input-check:checked + label div{
    text-decoration: line-through;
}

#details-todo{
    font-size: 12px;
    color: lightslategray;
    padding: 5px 10px;
    display: flex;
}

#sections-navigation{
    margin-left: auto;
}


.btn-type{
    padding: 0px 5px;
    color: white;
    border-radius: 5px;
    background-color: gray;
}

#empty-error{
    margin-top: 10px;
    text-align: center;
    display: none;
}

@media screen and (max-width:900px)
{
    #to-do-card{
        width: 80%;
    }
}

@media screen and (max-width:600px)
{
    #to-do-card{
        margin-top: 10px;
        width: 100%;
    }
}

